[access "refs/*"]
	owner = group Administrators
[project]
	description = Public fork of RightScale's right_support project
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
[access "refs/heads/*"]
	push = group Administrators
	pushMerge = group Administrators
	submit = group Administrators
	label-Verified = -1..+1 group Administrators
	label-Code-Review = -2..+2 group Administrators
