[access "refs/*"]
	owner = group Administrators
	read = group RightScale users
[project]
	description = Public fork of RightScale's right_support project
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
[access "refs/for/*"]
	read = group RightScale users
	push = group RightScale users
	pushMerge = group Submitters
	label-Verified = -1..+1 group RightScale users
	label-Code-Review = -2..+2 group RightScale users
	submit = group Submitters
[access "refs/heads/*"]
	label-Verified = -1..+1 group RightScale users
