[access "refs/*"]
	owner = group Administrators
	read = group Registered Users
[project]
	description = Public fork of RightScale's right_support project
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
[access "refs/heads/*"]
	label-Verified = -1..+1 group Registered Users
	label-Verified = -1..+1 group RightScale users
	pushMerge = group Administrators
	pushMerge = group Submitters
	submit = group Administrators
	submit = group Submitters
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Registered Users
	push = group Registered Users
